<!DOCTYPE html>
<html>
<head>
    <title>mailonline</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="js/bootstrap.min.js"></script>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="container-fluid" >
                <div class="navbar-header" style="margin-left:20px;">
                    <a class="navbar-brand" id="logo" href="#">
                        <img alt="Brand" src="img/logo.png">
                    </a>
                </div>

                <a class="navbar-brand" href="#" style="margin-left:0px;">EmailOS</a>

            </div>

        </div>






        <div id="navbar" class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li><a herf="#">a111504</a></li>
                <li><a id="nav-close" href="index.html">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!--nav sidebar-->
        <div class="col-sm-3 col-md-2 sidebar">

            <ul class="nav nav-sidebar ">
                <li class="active">
                    <a href="index.html">
                        <i class="glyphicon glyphicon-th-list"></i>
                        <span class="title">&nbsp;&nbsp;邮件列表</span>
                        <span class="sr-only">(current)</span>
                        <span class="badge pull-right">155</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span class="title">&nbsp;&nbsp;写邮件</span>
                    </a>
                </li>


                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-ok-circle"></i>
                        <span class="title">&nbsp;&nbsp;已发送</span>
                    </a>
                </li>

                <li>
                    <a href="mail_check.html">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <span class="title">&nbsp;&nbsp;审核邮件</span>
                        <i class="glyphicon glyphicon-chevron-down pull-right"></i>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="title">&nbsp;&nbsp;通讯录</span>


                    </a>
                </li>

            </ul>
        </div>
        <!-- table-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
            <!--panel-->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <!-- <span class="label label-default">主题</span>-->
                        邮件列表
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="mailmsgbk">
                        <div id="mailmsg">
                            <h3 class="mailtt">
                                敬告贵公司，我方面原料供应出现断链，可否推迟交付日期
                                <button type="button" class="btn btn btn-primary pull-right">分发</button>
                                </br>
                            </h3>
                            <div><span class="mailmst">发件人:</span> 景德镇陶瓷</div>
                            <div><span class="mailmst">发件人:</span> 景德镇陶瓷</div>
                            <div><span class="mailmst">时　间:</span> 2015-5-26</div>
                            <div><span class="mailmst">附　件:</span> 无</div>
                            <div ><span class="mailmst">分发至:</span>
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>

                                </select>
                            </div>
                        </div>

                    </div>

                    <!--<div><label class="label-primary">正文：</label></div>-->
                        <div id="mailtext">
                        <p>过多的期待未来，只会让人停滞；过多的思念过去，只会让人飘渺；只有能够掌握现在，精彩的现在铸就了生命的精彩。现在是最美好的，无论苦乐，都应认真体会。现在是快乐的要尽情体会快乐的感受，掌握现在。即便现在是痛苦的也要仔细品味痛苦的滋味，无论何种滋味，都应认真体会，之所以有这些体会，证明了还活着，活着就是美好的。有着现在，就有着生命。</p>

                    </div>
                </div>

                <div class="panel-footer">
                    <div><h4><span class="label label-default">附件信息：</span></h4></div>

                </div>


            </div>
        </div>
    </div>
</div>
</div>
</div>

</body>
</html>

